@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&family=IBM+Plex+Mono:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Space Grotesk", sans-serif;
  color: #0c1c30;
  background-color: #f1f6ff;
}

body {
  margin: 0;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.font-mono {
  font-family: "IBM Plex Mono", monospace;
}
